[user]
	email = nifor@smile.fr
	name = Nicolas Forgeot
[color]
    ui = true
[push]
    default = simple
[alias]
    co = checkout
    br = branch
    ci = commit
    di = diff
    st = status
[diff]
    tool = diff-so-fancy
	renameLimit = 10000
[merge]
    tool = diff-so-fancy
    conflictstyle = diff3
[rerere]
    enabled = false
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	filemode = true
	excludesfile = ~/.gitignore_global
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 227
	frag = magenta bold
	commit = 227 bold
	old = red bold
	new = green bold
	whitespace = red reverse
