/*/
!/MyProjects
!/Packages
/Packages/*
!/Packages/User
/Packages/User/Package Control.cache
/Packages/User/Package Control.last-run
/Packages/User/Package Control.merged-ca-bundle
/Packages/User/Package Control.user-ca-bundle
/Packages/User/SublimeLinter
/Packages/User/Xdebug.log
/Packages/User/Xdebug.breakpoints
/Packages/User/Xdebug.expressions
*.sublime-workspace
